.envio-table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #eaf1ff;
}
.table.envio-table {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.table.envio-table th {
    background-color: #ffc107;
    color: #fff;
    text-align: center;
}

.table.envio-table td {
    text-align: center;

}
.estado.procesado {
    color: #000000;
}

.estado.enviado {
    color: #ff0000;
}

.estado.entregado {
    color: #28a745;
}
h2.text-warning {
    font-size: 28px;
    font-weight: 700;
}